/*Header*/
.containerHeader {
    background-color: #fffcf3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    margin-left: 25%;
}


.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.nav li {
    color: #ff9c1a;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 100px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

.nav li:hover {
    color: #7ec636 !important;
    transform: scale(1.1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.nav li:active {
    color: black;
}

.nav li:visited {
    color: black;
}

/*HomePage*/
.containerHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.containerHome h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #fffcf3;
}

.containerHome p {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #fffcf3;
}

.button {
    width: 223px;
    height: 60px;
    background: #fffcf3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #fffcf3;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #ff9c1a;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #7ec636;
    border-color: #7ec636;
    transform: scale(1.1);
    color: #EDE7D7;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #F3C838;
    border-color: #F3C838;
    transform: scale(0.98);
    color: #000000;
}


/*SearchPage*/
.containerSearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    min-height: 55vh;
}

.containerSearch h1 {
    margin-top: 5%;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fffcf3;
}

.searchPlaceholder input {
    background-color: #fffcf3;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5%;
    width: 300px;
    font-style: italic;
    font-size: 14px;
    padding-left: 20px;
}

.searchPlaceholder input::placeholder {
    color: #000000;
    font-size: 14px;
    font-style: italic;
    opacity: 60%;
}

.searchPlaceholder button {
    width: 80px;
    height: 36px;
    background: #fffcf3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #F3C838;
    margin-left: 20px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ff9c1a;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.searchPlaceholder button:hover {
    background-color: #7ec636;
    border-color: #7ec636;
    transform: scale(1.1);
    color: #EDE7D7;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.searchPlaceholder button:active {
    background-color: #F3C838;
    border-color: #F3C838;
    transform: scale(0.98);
    color: #000000;
}


.bookmark button {
    width: 180px;
    height: 36px;
    background: #fffcf3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #F3C838;
    margin-left: 20px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ff9c1a;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.bookmark button:hover {
    background-color: #7ec636;
    border-color: #7ec636;
    transform: scale(1.1);
    color: #EDE7D7;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bookmark button:active {
    background-color: #F3C838;
    border-color: #F3C838;
    transform: scale(0.98);
    color: #000000;
}

.searchPlaceholder label{
    font-weight: 500;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
    color: #fffcf3;
    margin-right: 10px;
}

.logoutButton{
    width: 100px;
    height: 36px;
    background: #ff9c1a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #ff9c1a;
    margin-left: 20px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color:#fffcf3;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.logoutButton:hover {
    background-color: #7ec636;
    border-color: #7ec636;
    transform: scale(1.1);
    color: #EDE7D7;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logoutButton:active {
    background-color: #F3C838;
    border-color: #F3C838;
    transform: scale(0.98);
    color: #000000;
}









